/*
 * Hiarc API
 * Welcome to the Hiarc API documentation.
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.hiarcdb.client.api;

import com.hiarcdb.client.ApiCallback;
import com.hiarcdb.client.ApiClient;
import com.hiarcdb.client.ApiException;
import com.hiarcdb.client.ApiResponse;
import com.hiarcdb.client.Configuration;
import com.hiarcdb.client.Pair;
import com.hiarcdb.client.ProgressRequestBody;
import com.hiarcdb.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.hiarcdb.client.model.CreateUserTokenRequest;
import com.hiarcdb.client.model.UserCredentials;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TokenApi {
    private ApiClient localVarApiClient;

    public TokenApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TokenApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createUserToken
     * @param createUserTokenRequest User information (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A User Token object </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createUserTokenCall(CreateUserTokenRequest createUserTokenRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createUserTokenRequest;

        // create path and map variables
        String localVarPath = "/tokens/user";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "AdminApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createUserTokenValidateBeforeCall(CreateUserTokenRequest createUserTokenRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'createUserTokenRequest' is set
        if (createUserTokenRequest == null) {
            throw new ApiException("Missing the required parameter 'createUserTokenRequest' when calling createUserToken(Async)");
        }
        

        okhttp3.Call localVarCall = createUserTokenCall(createUserTokenRequest, _callback);
        return localVarCall;

    }

    /**
     * Create a Token for a User
     * 
     * @param createUserTokenRequest User information (required)
     * @return UserCredentials
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A User Token object </td><td>  -  </td></tr>
     </table>
     */
    public UserCredentials createUserToken(CreateUserTokenRequest createUserTokenRequest) throws ApiException {
        ApiResponse<UserCredentials> localVarResp = createUserTokenWithHttpInfo(createUserTokenRequest);
        return localVarResp.getData();
    }

    /**
     * Create a Token for a User
     * 
     * @param createUserTokenRequest User information (required)
     * @return ApiResponse&lt;UserCredentials&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A User Token object </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<UserCredentials> createUserTokenWithHttpInfo(CreateUserTokenRequest createUserTokenRequest) throws ApiException {
        okhttp3.Call localVarCall = createUserTokenValidateBeforeCall(createUserTokenRequest, null);
        Type localVarReturnType = new TypeToken<UserCredentials>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create a Token for a User (asynchronously)
     * 
     * @param createUserTokenRequest User information (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A User Token object </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createUserTokenAsync(CreateUserTokenRequest createUserTokenRequest, final ApiCallback<UserCredentials> _callback) throws ApiException {

        okhttp3.Call localVarCall = createUserTokenValidateBeforeCall(createUserTokenRequest, _callback);
        Type localVarReturnType = new TypeToken<UserCredentials>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
